body{
    overflow: hidden;
    cursor: default;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #333333;
    background-image: url("https://i.imgflip.com/3mha0a.jpg");
    background-size: cover;
    transition: all 0.2s;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .header{
      letter-spacing: 0px;
      width: 40%;
      position: absolute;
      font-family: 'Open Sans', sans-serif;
      top: 5%;
      left: 10%;
      animation-name: fadeIn;
      animation-duration: 3s;
      
  } 

  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }


  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
